<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title><%= pageTitle %></title>

        <!-- Babylon.js -->
        <!-- <script src="../../library/pep.min.js"></script>
        <script src="../../library/dat.gui.min.js"></script>
        <script src="../../library/ammo.js"></script>
        <script src="../../library/cannon.js"></script>
        <script src="../../library/Oimo.js"></script>
        <script src="../../library/libktx.js"></script>
        <script src="../../library/earcut.min.js"></script>
        <script src="../../library/babylon.js"></script>
        <script src="../../library/babylon.inspector.bundle.js"></script>
        <script src="../../library/babylonjs.materials.min.js"></script>
        <script src="../../library/babylonjs.proceduralTextures.min.js"></script>
        <script src="../../library/babylonjs.postProcess.min.js"></script>
        <script src="../../library/babylonjs.loaders.js"></script>
        <script src="../../library/babylonjs.serializers.min.js"></script>
        <script src="../../library/babylon.gui.min.js"></script>
        <link rel="stylesheet" href="/css/main.css"> -->
        <script src="https://code.jquery.com/pep/0.4.2/pep.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/libktx.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <canvas id="renderCanvas"></canvas>