<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A sample serial communication web app">
    <meta name="theme-color" content="#2F3BA2" />
    <title>Temperature Chart</title>
    <link rel="stylesheet" href="/css/graph.css" />
</head>

<body>
    <main>
        <div class="temp">
            <h5>Temperature (C)</h5>
            <span
                style="display: block;border-top:3px solid rgba(230, 74, 25, 1);width:100%;margin: 10px auto 0 auto"></span>
            <p id="temp">30</p>
        </div>
        <div class="adc">
            <h5>ADC</h5>
            <span
                style="display: block;border-top:3px solid rgba(25, 118, 210, 1);width:100%;margin: 10px auto 0 auto"></span>
            <p id="adc">100</p>
        </div>
        <div class="voltage">
            <h5>Voltage (mV)</h5>
            <span
                style="display: block;border-top:3px solid rgba(255, 160, 0, 1);width:100%;margin: 10px auto 0 auto"></span>
            <p id="voltage">9</p>
        </div>
        <div class="chart" style="width:70%; margin: 80px auto"><canvas id="chart"></canvas></div>
    </main>

    <script src="chart.min.js"></script>
    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Temperature',
                    data: [12, 19, 3, 5, 2, 3],
                    borderColor: [
                        'rgba(230, 74, 25, 1)',
                    ],
                    borderWidth: 3,
                    fill: false
                },
                {
                    label: 'ADC',
                    data: [2, 9, 30, 15, 255, 3],
                    borderColor: [
                        'rgba(25, 118, 210, 1)',
                    ],
                    borderWidth: 3,
                    fill: false
                },
                {
                    label: 'Voltage',
                    data: [22, 91, 0, 30, 55, 3],
                    borderColor: [
                        'rgba(255, 160, 0, 1)',
                    ],
                    borderWidth: 3,
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        function getData() {
            fetch("http://localhost:3000/data").then(res => res.json().then(data => {
                let time = new Date()
                time = time.toLocaleTimeString().toString()
                addData(lineChart, 0, time, data.temp)
                addData(lineChart, 1, time, data.adc)
                addData(lineChart, 2, time, data.voltage)
                document.getElementById('temp').innerHTML = data.temp
                document.getElementById('adc').innerHTML = data.adc
                document.getElementById('voltage').innerHTML = data.voltage
            }))
        }

        function addData(chart, num, label, data) {
            chart.data.labels.push(label)
            chart.data.labels.shift()
            chart.data.datasets[num].data.push(data)
            chart.data.datasets[num].data.shift()
            chart.update()
        }

        setInterval("getData()", 1000)

    </script>
</body>

</html>